/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --light-background: #fafafa;
  --dark-background: #cdd5df;
}

h1 {
  font-size: 2.4rem;
}

header {
  height: 12vh;
  box-shadow: 0 4px 4px rgb(174, 174, 174);
  background-color: var(--light-background);
  display: grid; 
  align-items: center;
  justify-content: center;
  padding-left: 24px;
}

body {
  background-color: var(--dark-background); 
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.board {
  display: flex;
  justify-content: center;
}

.cells-wrapper {
  width: max(300px, 40vw);
  height: max(300px, 40vw);
  grid-column: 2 / 3;
  margin-top: 30px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  cursor: not-allowed;
  font-size: 4.4rem;
}

.cell:first-child {
  border-style: none solid solid none;
}
.cell:nth-child(2){
  border-style: none solid solid solid;
}
.cell:nth-child(3) {
  border-style: none none solid solid;
}
.cell:nth-child(4) {
  border-style: solid solid solid none;
}
.cell:nth-child(6) {
  border-style: solid none solid solid;
}
.cell:nth-child(7) {
  border-style: solid solid none none ;
}
.cell:nth-child(8) {
  border-style: solid solid none solid ;
}
.cell:nth-child(9) {
  border-style: solid none none solid ;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 12px 30px;
}

.player-2 {
  align-items: flex-end;
}

.player .name-input {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.player-2 .name-input {
  align-self: flex-end;
  margin-right: 12px;
}

.player-2 button {
  align-self: flex-end;
}

.name-input button {
  width: fit-content;
  background-color: green;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

input {
  width: 100%;
  border-radius: 4px;
  border: 1.5px solid #9b9b9b;
}

input:focus {
  box-shadow: 2px 2px 4px rgb(157, 157, 157);
  outline: none;
  border: 1.5px solid #227ec5; 
}

.player p:not(.name-input) {
  font-size: 1.5rem;
  font-weight: 600;
}

.player p.win-msg {
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
  color: green;
}

.player p.win-msg.draw {
  color: blue;
}

