/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --light-background: #fafafa;
  --dark-background: #cdd5df;
}

h1 {
  font-size: 2.4rem;
}

header {
  height: 12vh;
  box-shadow: 0 4px 4px rgb(174, 174, 174);
  background-color: var(--light-background);
  display: grid; 
  align-items: center;
  justify-content: center;
  padding-left: 24px;
}

body {
  background-color: var(--dark-background); 
}

.board {
  display: flex;
  justify-content: center;
}

.cells-wrapper {
  width: max(300px, 40vw);
  height: max(300px, 40vw);
  margin-top: 30px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}

.cell {
  border: 3px solid black;
  cursor: pointer;
}

.cell:first-child {
  border-style: none solid solid none;
}
.cell:nth-child(2){
  border-style: none solid solid solid;
}
.cell:nth-child(3) {
  border-style: none none solid solid;
}
.cell:nth-child(4) {
  border-style: solid solid solid none;
}
.cell:nth-child(6) {
  border-style: solid none solid solid;
}
.cell:nth-child(7) {
  border-style: solid solid none none ;
}
.cell:nth-child(8) {
  border-style: solid solid none solid ;
}
.cell:nth-child(9) {
  border-style: solid none none solid ;
}
